<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    {% block head %}
    <title>{% block title %}{% endblock %} - My Webpage</title>
    {% endblock %}
    </head>
  <body style="background: #333333;">
    {% block content %}
    {% endblock %}
  </body>
  {% block scripts %}
    <link rel="stylesheet" href=".{{ url_for('static', filename='styles/styles.css') }}"></style>
    <link rel="stylesheet" href=".{{ url_for('static', filename='styles/default.css') }}"></style>
    <link rel="stylesheet" href=".{{ url_for('static', filename='styles/temphum.css') }}"></style>
  {% endblock %}
</html>